{% extends 'usertemplate/base.html' %}

{% load static %}
{% block title %} Login {% endblock %}

{% block content %}
<div class="container register" style="border-radius: 1rem;">
    <div class="row">
        <div class="col-md-3 register-left">
            <h3>Welcome</h3>
            <p class="text-white">You are 30 seconds away from earning money!</p>

        </div>
        <div class="col-md-9 register-right">
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span class="message">{{message}}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}



            <div class="tab-content" id="myTabContent">

                <style>
                    .hCJtAJ {
                        position: absolute;
                        right: 4px;
                        top: 4px;
                        height: 38px;
                        z-index: 100;
                        border: none;
                    }

                    .ewbxDW {
                        padding: 8px 16px;
                        border-radius: 8px;
                        font-size: 13px;
                        line-height: 20px;
                        font-weight: 600;
                        min-width: 96px;
                        width: fit-content;
                        height: 36px;
                        cursor: pointer;
                        outline: none;
                        white-space: nowrap;

                    }
                </style>

                <form action="/login/" method="POST" id="myForm">
                    <div class="row register-form text-center">

                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color: chocolate;" class="error" id="mobileError"></span>
                                <input type="text" class="form-control" placeholder="Enter Email / Mobile Number"
                                    name="mobile_email" id="mobileEmailInput" value="" required />

                            </div>



                            <!-- Password input with show password icon -->
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Enter Password" name="password"
                                    id="Password" value="" required />
                                <a class="ewbxDW hCJtAJ toggle-password" id="togglePasswordVisibility">
                                    <i class="far fa-eye"></i>
                                </a>
                            </div>



                            <div class="signup-link">
                                <p> <a href="/login-otp/" style="font-size: smaller;">Forgot Password? Login With OTP</a> /
                                    <a href="/signup/" style="font-size: smaller; color:blue">New to User? SignUp</a>        
                                </p>
                            </div>


                            
                            <input type="submit" id="logbtn" class="btnRegister" value="Login" />


                            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                            <style>
                                .disabled {
                                    pointer-events: none;
                                    opacity: 0.5;
                                }
                            </style>




                            <script>
                                $(document).ready(function () {
                                    // Function to validate email or mobile number
                                    function validateInput() {
                                        var inputPattern = /^[0-9]{10}$|^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                                        var inputValue = $("#mobileEmailInput").val();

                                        if (!inputPattern.test(inputValue)) {
                                            $("#mobileError").text("Invalid input. Please enter a valid email or mobile number.");
                                        } else {
                                            $("#mobileError").text("");
                                        }
                                    }

                                    // Event listener for input field
                                    $("#mobileEmailInput").on("input", validateInput);
                                });



                                $(document).ready(function () {
                                    function toggleSendOTPButton() {
                                        var inputVal = $('#mobileEmailInput').val().trim();
                                        var sendOTPButton = $('#Password');

                                    }

                                    // Initial check when the page loads
                                    toggleSendOTPButton();

                                    // Bind the function to the input's keyup event
                                    $('#mobileEmailInput').on('keyup', toggleSendOTPButton);



                                    // Password visibility toggle
                                    $('#togglePasswordVisibility').on('click', function () {
                                        var passwordInput = $('#Password');
                                        var button = $('#togglePasswordVisibility');

                                        if (passwordInput.attr('type') === 'password') {
                                            passwordInput.attr('type', 'text');
                                            button.html('<i class="far fa-eye-slash"></i>');
                                        } else {
                                            passwordInput.attr('type', 'password');
                                            button.html('<i class="far fa-eye"></i>');
                                        }
                                    });
                                });
                            </script>



                        </div>
                        <div class="col-md-6">
                            <img src="{% static 'images/listing/ecommerce.png' %}" width="350" alt="Description of the image">
                        
                        </div>
                        <br><br><br>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}