<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<system.webServer>
        <handlers>
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\AVPL\gbaskets\Scripts\python.exe|E:\AVPL\gbaskets\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>

    <appSettings>
        <add key="DJANGO_SETTINGS_MODULE" value="AVPL.settings" />
        <add key="PYTHONPATH" value="E:\AVPL" />
        <add key="WSGI_HANDLER" value="AVPL.wsgi.application" />

       
    </appSettings>

    
    
    



</configuration>
