{% extends 'user_app/base.html' %}
{% load static %}
{% block title %}My Orders{% endblock %}
{% block main %} <!-- Main Content -->
<div class="main-content">
  <section class="section">
    <div class="section-header">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="section-header-breadcrumb-content">
            <h1>My Orders</h1>
            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item active"><a href="/user/"><i class="fas fa-home"></i></a></div>
              <div class="breadcrumb-item"><a href="/user/myorder">My Orders</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <div class="card">

            <div class="shop">
              <div class="container">
                <div class="row">

                  <div class="col-lg-5 col-sm-12 pt-3 pb-2 ">
                    <div class="input-group">
                      <input type="text" class="form-control border border-right-0"
                        placeholder="Search your product...">
                      <span class="input-group-append bg-secondary">
                        <button class="btn btn-outline-light border border-left-0" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>
                  </div>







                  <div class="col-lg-12 col-sm-12 pb-2">

                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="nav-link active"><a href="#myallorder" aria-controls="myallorder"
                          role="tab" data-toggle="tab">All Order</a></li>
                      <li role="presentation" class="nav-link"><a href="#mypendingdorder"
                          aria-controls="mypendingdorder" role="tab" data-toggle="tab">Pending Order</a></li>
                      <li role="presentation" class="nav-link"><a href="#mydeliveredorder"
                          aria-controls="mydeliveredorder" role="tab" data-toggle="tab">Delivered Order</a></li>
                      <li role="presentation" class="nav-link"><a href="#myreturnorder" aria-controls="myreturnorder"
                          role="tab" data-toggle="tab">Return Order</a></li>
                      <li role="presentation" class="nav-link"><a href="#mycancelorder" aria-controls="mycancelorder"
                          role="tab" data-toggle="tab">Cancel Order</a></li>

                    </ul>

                    <div class="tab-content" style="overflow-x:auto;">
                      <div role="tabpanel" class="tab-pane active" id="myallorder">

                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Order ID</th>
                              <th>Order Date</th>
                              <th>Product</th>
                              <th>Order Amount</th>
                              <th>Payment Status</th>
                              <th>Order Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>

                            {% for data in salesorder %}

                            {% with first_orderitem=data.salesorders.first %}


                            <tr>
                              <td>{{data.id}}</td>
                              <td>{{data.orderno}}</td>
                              <td>{{data.createdat}}</td>
                              <td>
                                {% for orderitem in data.salesorders.all %}
                                {{orderitem.productvariants}}
                                <!-- <img style="height: 50px; width:50px;" src="{{orderitem.productvariants.productimage.url}}"> -->
                                {% endfor %}
                              </td>
                              <td>{{data.total}}</td>
                              <td> {% if data.ispaymentpaid == True %} <span
                                  class="badge badge-success"><b>Paid</b></span> {% else %} <span
                                  class="badge badge-danger"><b>UnPaid</b></span> {% endif %}</td>
                              <td>

                                {% if first_orderitem.orderstatus == 'Pending' %}
                                <span class="badge badge-info">{{first_orderitem.orderstatus}}</span>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Packed' %}
                                <span class="badge badge-success">{{first_orderitem.orderstatus}}</span>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Shipped' %}
                                <span class="badge badge-danger">{{first_orderitem.orderstatus}}</span>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Delivered' %}
                                <h5>Delivered on {{first_orderitem.deliveredon}}</h5>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Cancelled' %}
                                <h5>Cancelled on {{first_orderitem.cancelledon}}</h5>
                                {% endif %}


                              </td>
                              <td><a href="#">View Details</a></td>

                            </tr>


                            {% endwith %}





                            {% endfor %}

                          </tbody>
                        </table>

                      </div>


                      <div role="tabpanel" class="tab-pane" id="mypendingdorder">

                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Order ID</th>
                              <th>Order Date</th>
                              <th>Product</th>
                              <th>Order Amount</th>
                              <th>Payment Status</th>
                              <th>Order Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>

                            {% for data in salesorder %}


                            {% with first_orderitem=data.salesorders.first %}

                            {% if first_orderitem.orderstatus == 'Pending' %}

                            <tr>
                              <td>{{data.id}}</td>
                              <td>{{data.orderno}}</td>
                              <td>{{data.createdat}}</td>
                              <td>
                                {% for orderitem in data.salesorders.all %}
                                {{orderitem.productvariants}}
                                <!-- <img style="height: 50px; width:50px;" src="{{orderitem.productvariants.productimage.url}}"> -->
                                {% endfor %}
                              </td>
                              <td>{{data.total}}</td>
                              <td> {% if data.ispaymentpaid == True %} <span
                                  class="badge badge-success"><b>Paid</b></span> {% else %} <span
                                  class="badge badge-danger"><b>UnPaid</b></span> {% endif %}</td>
                              <td>

                                {% if first_orderitem.orderstatus == 'Pending' %}
                                <span class="badge badge-info">{{first_orderitem.orderstatus}}</span>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Packed' %}
                                <span class="badge badge-success">{{first_orderitem.orderstatus}}</span>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Shipped' %}
                                <span class="badge badge-danger">{{first_orderitem.orderstatus}}</span>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Delivered' %}
                                <h5>Delivered on {{first_orderitem.deliveredon}}</h5>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Cancelled' %}
                                <h5>Cancelled on {{first_orderitem.cancelledon}}</h5>
                                {% endif %}


                              </td>
                              <td><a href="#">View Details</a></td>

                            </tr>

                            {% endif %}
                            {% endwith %}





                            {% endfor %}

                          </tbody>
                        </table>

                      </div>

                      <div role="tabpanel" class="tab-pane" id="mydeliveredorder">

                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Order ID</th>
                              <th>Order Date</th>
                              <th>Product</th>
                              <th>Order Amount</th>
                              <th>Payment Status</th>
                              <th>Order Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>

                            {% for data in salesorder %}


                            {% with first_orderitem=data.salesorders.first %}

                            {% if first_orderitem.orderstatus == 'Delivered' %}

                            <tr>
                              <td>{{data.id}}</td>
                              <td>{{data.orderno}}</td>
                              <td>{{data.createdat}}</td>
                              <td>
                                {% for orderitem in data.salesorders.all %}
                                {{orderitem.productvariants}}
                                <!-- <img style="height: 50px; width:50px;" src="{{orderitem.productvariants.productimage.url}}"> -->
                                {% endfor %}
                              </td>
                              <td>{{data.total}}</td>
                              <td> {% if data.ispaymentpaid == True %} <span
                                  class="badge badge-success"><b>Paid</b></span> {% else %} <span
                                  class="badge badge-danger"><b>UnPaid</b></span> {% endif %}</td>
                              <td>

                                {% if first_orderitem.orderstatus == 'Pending' %}
                                <span class="badge badge-info">{{first_orderitem.orderstatus}}</span>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Packed' %}
                                <span class="badge badge-success">{{first_orderitem.orderstatus}}</span>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Shipped' %}
                                <span class="badge badge-danger">{{first_orderitem.orderstatus}}</span>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Delivered' %}
                                <h5>Delivered on {{first_orderitem.deliveredon}}</h5>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Cancelled' %}
                                <h5>Cancelled on {{first_orderitem.cancelledon}}</h5>
                                {% endif %}


                              </td>
                              <td><a href="#">View Details</a></td>

                            </tr>

                            {% endif %}
                            {% endwith %}





                            {% endfor %}

                          </tbody>
                        </table>

                      </div>

                      <div role="tabpanel" class="tab-pane" id="myreturnorder">

                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Order ID</th>
                              <th>Order Date</th>
                              <th>Product</th>
                              <th>Order Amount</th>
                              <th>Payment Status</th>
                              <th>Order Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>

                            {% for data in salesorder %}


                            {% with first_orderitem=data.salesorders.first %}
                            {% if first_orderitem.orderstatus == 'Return' %}
                            <tr>
                              <td>{{data.id}}</td>
                              <td>{{data.orderno}}</td>
                              <td>{{data.createdat}}</td>
                              <td>
                                {% for orderitem in data.salesorders.all %}
                                {{orderitem.productvariants}}
                                <!-- <img style="height: 50px; width:50px;" src="{{orderitem.productvariants.productimage.url}}"> -->
                                {% endfor %}
                              </td>
                              <td>{{data.total}}</td>
                              <td> {% if data.ispaymentpaid == True %} <span
                                  class="badge badge-success"><b>Paid</b></span> {% else %} <span
                                  class="badge badge-danger"><b>UnPaid</b></span> {% endif %}</td>
                              <td>

                                {% if first_orderitem.orderstatus == 'Pending' %}
                                <span class="badge badge-info">{{first_orderitem.orderstatus}}</span>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Packed' %}
                                <span class="badge badge-success">{{first_orderitem.orderstatus}}</span>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Shipped' %}
                                <span class="badge badge-danger">{{first_orderitem.orderstatus}}</span>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Delivered' %}
                                <h5>Delivered on {{first_orderitem.deliveredon}}</h5>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Cancelled' %}
                                <h5>Cancelled on {{first_orderitem.cancelledon}}</h5>
                                {% endif %}


                              </td>
                              <td><a href="#">View Details</a></td>

                            </tr>

                            {% endif %}
                            {% endwith %}





                            {% endfor %}

                          </tbody>
                        </table>

                      </div>

                      <div role="tabpanel" class="tab-pane" id="mycancelorder">


                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Order ID</th>
                              <th>Order Date</th>
                              <th>Product</th>
                              <th>Order Amount</th>
                              <th>Payment Status</th>
                              <th>Order Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>

                            {% for data in salesorder %}


                            {% with first_orderitem=data.salesorders.first %}
                            {% if first_orderitem.orderstatus == 'Cancelled' %}

                            <tr>
                              <td>{{data.id}}</td>
                              <td>{{data.orderno}}</td>
                              <td>{{data.createdat}}</td>
                              <td>
                                {% for orderitem in data.salesorders.all %}
                                {{orderitem.productvariants}}
                                <!-- <img style="height: 50px; width:50px;" src="{{orderitem.productvariants.productimage.url}}"> -->
                                {% endfor %}
                              </td>
                              <td>{{data.total}}</td>
                              <td> {% if data.ispaymentpaid == True %} <span
                                  class="badge badge-success"><b>Paid</b></span> {% else %} <span
                                  class="badge badge-danger"><b>UnPaid</b></span> {% endif %}</td>
                              <td>

                                {% if first_orderitem.orderstatus == 'Pending' %}
                                <span class="badge badge-info">{{first_orderitem.orderstatus}}</span>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Packed' %}
                                <span class="badge badge-success">{{first_orderitem.orderstatus}}</span>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Shipped' %}
                                <span class="badge badge-danger">{{first_orderitem.orderstatus}}</span>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Delivered' %}
                                <h5>Delivered on {{first_orderitem.deliveredon}}</h5>
                                {% endif %}
                                {% if first_orderitem.orderstatus == 'Cancelled' %}
                                <h5>Cancelled on {{first_orderitem.cancelledon}}</h5>
                                {% endif %}


                              </td>
                              <td><a href="#">View Details</a></td>

                            </tr>

                            {% endif %}
                            {% endwith %}





                            {% endfor %}

                          </tbody>
                        </table>

                      </div>





                    </div>






                  </div>

                  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

                  <script>
                    $(document).ready(function () {
                      $('.nav-link').on('click', function () {
                        $('.nav-link').removeClass('active');
                        $(this).addClass('active');
                      });
                    });
                  </script>




                </div>

              </div>


            </div>
          </div>
        </div>



      </div>

    </div>
</div>
</div>
</section>
</div>
<div class="modal fade" id="order_query" role="dialog">
  <div class="modal-dialog  modal-md">

    <!-- Modal content-->
    <div class="modal-content glass-modal pb-4 m-0">
      <div class="modal-header">
        <h4>Need Help?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="row" style="padding-left:50px;padding-right:50px;">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="bg-white p-4" style="border-radius:10px;" id="result">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cancel Order -->
<div class="modal fade" id="cancel_order" role="dialog">
  <div class="modal-dialog  modal-md">

    <!-- Modal content-->
    <div class="modal-content glass-modal pb-4 m-0">
      <div class="modal-header">
        <h4>Cancel Order</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="row" style="padding-left:50px;padding-right:50px;">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="bg-white p-4" style="border-radius:10px;" id="cancel">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function cancel_order(order_id) {
    console.log(order_id),
      $.ajax({
        type: 'GET',
        url: "/user/cancelorder",
        data: { order: order_id },

        success: function (data) {
          console.log(data),
            $('#cancel').html(data);
        }
      });
  }
  function send_cancel_details() {
    console.log(document.getElementById('order_id').value, 'jjjjjjjjjjjjjjjjjjjj')
    $.ajax({
      type: 'POST',
      url: "/user/cancelconfirm",
      data: {
        "order_id": document.getElementById('order_id').value,
        "reason": document.getElementById('reason').value
      },

      success: function (data) {

      }
    });
  }
</script>
<!-- cancel order -->

<script type="text/javascript">
  function need_help(order_id) {
    $.ajax({
      type: 'GET',
      url: "/user/productquery",
      data: { order: order_id },

      success: function (data) {
        $('#result').html(data);
      }
    });
  }
  function send_query() {
    $.ajax({
      type: 'POST',
      url: "/user/help",
      data: { subject: document.getElementById('subject').innerHTML, message: document.getElementById('message').value },

      success: function (data) {

      }
    });
  }
</script>
{% endblock %}
