{% extends 'usertemplate/base.html'%}
{% load static%}
{% block title %}{{len}} {% if len > 1 %}products{% else %}product{% endif %} found{% endblock %}
{% block content %}
{% if messages %}
{% for mess in messages %}
<div class="alert alert-{{mess.tags}}" role="alert">
    {{mess}}
</div>
{% endfor %}
{% endif %}

<div class="bg-gray-13 bg-md-transparent">
    <div class="container">
        <!-- breadcrumb -->
        <div class="my-md-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                    <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="/">Home</a></li>
                    <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">Checkout</li>
                </ol>
            </nav>
        </div>
        <!-- End breadcrumb -->
    </div>
</div>



<!-- Shop -->




<div class="shop">
    <div class="container">
        <div class="row">
            {% if address_len != 0 %}
            <div class="col-lg-6">
                <div  class=" ">
                    <div class="border-bottom border-color-1 mb-5">
                        <h3 style="font-color:white" class="section-title mb-0 pb-2 font-size-25">Select Address</h3>
                    </div>
                </div>
                <!-- Featured -->
                
                <div class="">
                    <div class="">
                      
                        
                        
                        <form action="/ordersummary/" method="POST">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <ul>
                                        {% for x in addresses %}
                                        <li class="mt-0">
                                            <div class="product_details px-4">
                                                
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" name="address_id" id="exampleRadios1" value="{{x.id}}" {% if x.isdefaultaddress %}checked{% endif %}>
                                                  <label class="form-check-label" for="exampleRadios1">
                                                    
                                                    <p>{{x.firstname|default:""}} {{x.lastname|default:""}} {% if x.isdefaultaddress %}<span class="badge badge-success mx-4"> Default </span>{% endif %} <span class="text-primary">+91-{{ x.mobile }}</span>
                                                    <br>
                                                    <strong> {{x.addresstype|default:""}}</strong> <br>
                                                   {{x.streetaddress|default:""}}<strong>({{x.pincode|default:""}})</strong>
                                                   <br>
                                                   {{x.companyname|default:""}}
                                                   <br>
                                                   {{x.gstno|default:""}}

                                                   </p>
                                                  </label>
                                                </div>
                                            
                                           
                                            </div>
                                            <hr>
                                        </li>
                                        {% endfor %}
                                         
                                </ul>
                            </div>
                            
                        </div>
                     
                        

                       
                   
                     </div>
                </div>
            </div>
            {% else %}

            {% endif %}
            <div class="col-lg-6 ">
                <div class="card">
                    <div class="card-body">
                        <div class="bg-gray-1 rounded-lg">
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-name">Product</th>
                                    <th class="product-name">Prodct Price</th>
                                    <th class="product-name">Quantity</th>
                                    <th class="product-name">Tax</th>
                                    <th class="product-total">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in items %}
                                <tr class="cart_item">
                                    <td style="border-top:0;">{{i.name|truncatechars:30}}</td>
                                    <td style="border-top:0;">₹{{i.price}}</td>
                                    <td style="border-top:0;">{{i.quantity}}</td>
                                    <td style="border-top:0;">{{i.tax}}</td> 
                                    <td style="border-top:0;">₹{{i.total}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="4">Subtotal Amount</th>
                                    <input type="hidden" value="{{ subtotal_amount }}" id="subtotal">
                                    <td >₹{{ subtotal_amount }}</td>
                                </tr>
                                {% comment %} <tr>
                                    <input type="hidden" value="{{ cart.delivery_charges }}" id="delivery_charge">
                                    <th colspan="4">Delivery Charge</th>
                                    <td>Flat rate {% if subtotal_amount <= 499 %}{{ cart.delivery_charges }}{% else%} {{0.0}}{% endif %}</td>
                                </tr> {% endcomment %}
                                <tr>
                        
                                    <th colspan="4">Tax Amount</th>
                                    <input type="hidden" value="{{ tax_amount }}" id="tax_p">
                                    <td><strong id="tax_amount_p">₹ {{ tax_amount }} </strong></td>
                                </tr>
                                <tr>
                                    <th colspan="4">Total Amount</th>
                                    <input type="hidden" value="{{ total_amount }}" id="total_p">
                                    <td><strong id="total_amount_p">₹ {{ total_amount }} </strong></td>
                                </tr>
                            </tfoot>
                        </table>
                        {% comment %} <p style="padding-left: 15px;" class="product-name">Select Plan</p>
                        <div class="form-check" aria-required="true">
                            <input required type="radio" name="plan_type" id="exampleRadios2" value="Binary">
                            <label  for="exampleRadios2">Re-purchase</label>
                            <input  type="radio" name="plan_type" id="exampleRadios3" value="Level">
                            <label for="exampleRadios3">Combo Purchase</label>
                          </div>
                          <div class="shop_bar clearfix bg-primary" style="color:white;padding:10px;border-radius:10px;">
                            {% if cart.subtotal <= 499 %}
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="checkbox"  style="width: 100%;" value="1" id="self" onchange="enable_self_pickup();"{% if cart.self_pickup %}{% endif %}>
                                </div>
                                <div class="col-lg-10">
                                    <strong>SELF PICKUP :</strong> Check this if you want self pick your order. In this case your delivery charge will be zero.
                                </div>
                            </div>
                            {% else%} 
                            
                            {% endif %}
                        </div> {% endcomment %}
                        <div class="shop-bar clearfix pt-4 text-success">
                            
                                
                                <button type="submit" class="btn btn-primary" style="width:100%;background-color: red;border-color: red;">Proceed</button>
                            </form>
                        </div>
                     </div>
                    </div>
                    </div>
                </div>
                
                <div style="padding-bottom: 50px;" class="col-lg-6">

                    <div class=" ">
                        <div class="">


                            <div class="border-bottom border-color-1 mb-5">
                                <h3 class="section-title mb-0 pb-2 font-size-25">Add Billing Address</h3>
                            </div>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <form action="/user/add_new_address" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name *</label>
                                        <input type="text" class="form-control" placeholder="Enter First Name *"
                                            title="Only (a-z) letters are allowed." required name="firstname"
                                           />
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name *</label>
                                        <input type="text" class="form-control" placeholder="Enter Last Name *"
                                            title="Only (a-z) letters are allowed." required name="lastname"
                                            />
                                    </div>


                                    <div class="form-group">
                                        <label>Email *</label>
                                        <input type="email" class="form-control" placeholder="Enter Email *"
                                            required name="email"  />
                                    </div>
                                    <div class="form-group">
                                        <label>Mobile *</label>
                                        <input type="text" minlength="10" maxlength="10" class="form-control"
                                            placeholder="Enter Mobile *" name="mobile" required
                                           />
                                    </div>

                                    <div class="form-group">
                                        <label>Company Name </label>
                                        <input type="text" class="form-control"
                                            placeholder="Enter Company Name " name="companyname" 
                                             />
                                    </div>
                                    <div class="form-group">
                                        <label>GST No </label>
                                        <input type="text" class="form-control"
                                            placeholder="Enter GST No" name="gstno" 
                                            />
                                    </div>
                                    <div class="form-group">
                                        <label>Address Type *</label>
                                        <br>
                                        <label class="radio inline">
                                            <input type="radio" name="addresstype" value="Billing" checked>
                                            <span> Billing </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="addresstype" value="Shipping">
                                            <span>Shipping </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="addresstype" value="Both" checked>
                                            <span>Both </span>
                                        </label>
                                       
                                    </div>
                                    
                                   
                                    
                                     

                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Street Address *</label>
                                        <input type="text" class="form-control" placeholder="Enter Street Address *"
                                            id="address" title="Only (a-z) letters are allowed." required
                                            name="streetaddress"/>
                                    </div>
                                    

                                    <div class="form-group">
                                        <label>Near by Address *</label>
                                        <input type="text" class="form-control"
                                            placeholder="Enter Near by Address *" id='nearbyaddress'
                                            title="Only (a-z) letters are allowed." required name="nearbyaddress"
                                             />
                                    </div>
                                    <div class="form-group">
                                        <label>City *</label>
                                        <input type="text" class="form-control" placeholder="Enter City *" id='city'
                                            title="Only (a-z) letters are allowed." required name="city"
                                           />
                                    </div>
                                    <div class="form-group">
                                        <label>State *</label>
                                        <input type="text" class="form-control" placeholder="Enter State *"
                                            id='state' title="Only (a-z) letters are allowed." required name="state"
                                            />
                                    </div>
                                    <div class="form-group">
                                        <label>Country *</label>
                                        <input type="text" class="form-control" placeholder="Enter Country *"
                                            id='country' title="Only (a-z) letters are allowed." required
                                            />
                                    </div>

                                    <div class="form-group">
                                        <label>Pincode *</label>
                                        <input type="text" placeholder="Enter Pincode *" id='pincode'
                                            class="form-control" minlength="6" maxlength="6" name="pincode"
                                            />
                                    </div>

                                    <input type="hidden" placeholder="latitude *" id='latitude' class="form-control"
                                        name="latitude" value="{{vendor.latitude|default:''}}" />
                                    <input type="hidden" placeholder="longitude *" id='longitude'
                                        class="form-control" name="longitude"
                                       />

                                </div>
                                <div class="col-lg-12 col-sm-12">
                                        <button type="submit" class="btn btn-primary">Add Address</button>
                                    </div>
                            </div>
                        </form>
                       
                        
                     </div>
                </div>
            </div>
            </div>
        </div>
    </div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Address</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Add</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#self").click(function() {
            var checked = $(this).is(':checked');
            var subtotal=$('#subtotal').val();
            var delivery_charge=$('#delivery_charge').val();
            var total_p=$('#total_p').val();
            var total_price=total_p-delivery_charge
            if (checked) {
                $('#total_amount_p').html(total_price)
            } else {
                $('#total_amount_p').html(total_p)
            }
        });
    });

    function enable_self_pickup() {
      self_val = '0';
      if (document.getElementById('self').checked){
        self_val = document.getElementById('self').value;
      }
      cart_id = {{ cart.id }};
    //   console.log(cart_id)
      $.ajax({
            type:'GET',
            url:'/user/enableselfpickup',
            data:{c:cart_id, self:self_val},
            success: function(res_data){
                
            }
        });
   }

   
</script>




<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqBF76cMbvE_LREvm1S43LzZGxTsRQ0wA&libraries=places&callback=initialize"></script>


<script>
    function initialize() {
        var input = document.getElementById('address');
        var autocomplete = new google.maps.places.Autocomplete(input);

        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();

            // Extract address components
            var addressComponents = place.address_components;

            // Initialize variables for pin code, state, city, country, and nearby places
            var pincode = "";
            var state = "";
            var city = "";
            var country = "";
            var nearbyPlace = "";
            var latitude = "";
            var longitude = "";

            // Iterate through address components to find specific details
            for (var i = 0; i < addressComponents.length; i++) {
                var component = addressComponents[i];
                var types = component.types;

                // Fill in pin code
                if (types.includes('postal_code')) {
                    pincode = component.long_name;
                }

                // Fill in state
                if (types.includes('administrative_area_level_1')) {
                    state = component.long_name;
                }

                // Fill in city
                if (types.includes('locality') || types.includes('administrative_area_level_2')) {
                    // Remove the word "Division" from the city
                    city = component.long_name.replace(/ Division$/, '');
                }

                // Fill in country
                if (types.includes('country')) {
                    country = component.long_name;
                }
            }

            // Get latitude and longitude
            if (place.geometry && place.geometry.location) {
                latitude = place.geometry.location.lat();
                longitude = place.geometry.location.lng();
            }


            // Get nearby place
            if (place.geometry && place.geometry.location) {
                var service = new google.maps.places.PlacesService(document.createElement('div'));
                service.nearbySearch({
                    location: place.geometry.location,
                    radius: 5000, // You can adjust the radius as needed
                    type: 'point_of_interest' // You can adjust the type as needed
                }, function (results, status) {
                    if (status === google.maps.places.PlacesServiceStatus.OK && results.length > 0) {
                        nearbyPlace = results[0].name;
                    }



                    // Update input fields
                    document.getElementById('pincode').value = pincode;
                    document.getElementById('state').value = state;
                    document.getElementById('city').value = city;
                    document.getElementById('country').value = country;
                    document.getElementById('nearbyaddress').value = nearbyPlace;
                    document.getElementById('latitude').value = latitude;
                    document.getElementById('longitude').value = longitude;
                });
            }
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>




{%endblock%}